body {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  font-weight: bold;
  font-family: "PT Sans Narrow", Arial, Helvetica;
}

h2 {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  font-weight: bold;
  font-family: "PT Sans", Arial, Helvetica;
}
