html,
body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  font-weight: bold;
  font-family: "PT Sans Narrow", Arial, Helvetica;
}

h2 {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  font-weight: bold;
  font-family: "PT Sans", Arial, Helvetica;
}

.main-navi {
  position: relative;
  min-height: 50px;
  outline: 1px solid;
}

.main-menu{
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-menu li{
  display: inline-block;
  width: 240px;
  margin-left: 36px;
  outline: 1px solid;
  vertical-align: top;
}

.main-menu a {
  display: block;
  text-decoration: none;
  padding: 16px 70px;
}

.left-nav {
  float: left;
}

.right-nav {
  float: right;
}

.main-menu a:hover{
  color: #766357;
}

.navi-logo {
  position: absolute;
    top: 0;
    left: 50%;
transform: translateX(-50%);
  width: 140px;
  min-height: 70px;
  display: block;
  outline: 1px solid blue;
}

.welcome-to-sedona {
  min-height: 510px;
  outline: 1px solid;
}

.sedona-main {
  min-height: 215px;
  outline: 1px solid;
}

.real-city {
  float: left;
  width: 400px;
  min-height: 256px;
  background: #66ccff;
}

.pict-sedona-view {
  float: right;
  width: 800px;
  min-height: 256px;
  background: #ccccff;
}

.icon {
  float: left;
  width: 400px;
  min-height: 330px;
  outline: 1px solid;
}

.pict-diablo-bridge {
    float: left;
    width: 800px;
    min-height: 256px;
    background: #ccccff;
}

.diablo-bridge {
  float: right;
  width: 400px;
  min-height: 256px;
  background: #66ccff;
}

.reason-block {
  float: left;
  width: 400px;
  min-height: 330px;
  background: #3399ff;
}

.looking-for-hotel {
  min-height: 290px;
  outline: 1px solid;
}

.check-in-and-out-in-date {
  width: 1200px;
  min-height: 475px;
  background: #669999;
}

.partition {
  display: table-cell;
  width: 400px;
  min-height: 120px;
  outline: 1px solid;
  text-align: center;
  vertical-align: middle;
  padding-top: 35px;
  padding-bottom: 35px;
}


/*стили для catalog.html*/



.filter-panel {
  min-height: 220px;
  outline: 1px solid;
}

.infrastructure {
  float: left;
  margin-top: 35px;
  padding-left: 72px;
  width: 140px;
  min-height: 150px;
  outline: 1px solid;
}

.lodging-kind {
  float: left;
  margin-left: 105px;
  margin-top: 35px;
  width: 140px;
  min-height: 150px;
  outline: 1px solid;
}

.choose-price {
  float: right;
  width: 330px;
  height: 155px;
  margin-top: 35px;
  outline: 1px solid;
}

.search-results {
  min-height: 540px;
  padding-left: 72px;
  outline: 1px solid;
}

.sorting-panel {
  min-height: 85px;
  outline: 1px solid;
}

.found {
  float: left;
  width: 75px;
  min-height: 85px;
  outline: 1px solid;
}

.choosing {
  float: left;
  width: 75px;
  min-height: 85px;
  margin-left: 50px;
  outline: 1px solid;
}

.by-price {
  float: left;
  width: 90px;
  min-height: 85px;
  outline: 1px solid;
}

.by-type {
  float: left;
  width: 100px;
  min-height: 85px;
  outline: 1px solid;
}

.by-reiting {
  float: left;
  width: 100px;
  min-height: 85px;
  outline: 1px solid;
}

.up-down-pointer {
  float: right;
  width: 40px;
  min-height: 85px;
  padding-right: 72px;
  outline: 1px solid;
}

.hotel-result {
  min-height: 155px;
  outline: 1px solid;
}

.pict-hotel {
  float: left;
  width: 135px;
  min-height: 150px;
  outline: 1px solid;
}

.booking-panel {
  float: left;
  width: 260px;
  min-height: 150px;
  margin-left: 30px;
  outline: 1px solid;
}

.hotel-price-info {
  width: 180px;
  min-height: 10px;
  outline: 1px solid;
  display: inline-block;
}

.hotel-type {
  float: left;
  width: 75px;
  min-height: 10px;
  outline: 1px solid;
}

.hotel-price {
  float: right;
  width: 75px;
  min-height: 10px;
  margin-left: 40px;
  outline: 1px solid;
  margin: 0;
}

.reiting {
  float: right;
  width: 110px;
  min-height: 150px;
  padding-right: 72px;
  outline: 1px solid;
}

.container {
  width: 1200px;
  /*padding: 0 72px;*/
  margin: 0 auto;
  outline: 1px solid red;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
